In [1]:
import oracledb as db
from sqlalchemy import create_engine, Connection
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm import tqdm

from datetime import timedelta, date
from dateutil.relativedelta import relativedelta
from time import sleep

from getpass import getpass

In [10]:
import os

ls = os.listdir('./Data/Demanda')

f = pd.DataFrame()
for i in range(0, len(ls)-1,1):
    _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
    f = pd.concat([_,f], ignore_index = True, axis = 0)

f

C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')
C:\Users\daniel.melo\AppData\Local\Temp\ipykernel_40304\379691478.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  _ = pd.read_csv('./Data/Demanda/'+ls[i], encoding = 'utf-8')

,data,cod_empresa,codigo,und_venda,qtd_venda,padrao_compra,estoque_diario
0,2024-01-12,1,102242,UN,1,1.0,NaN
1,2024-01-13,1,102242,UN,1,1.0,NaN
2,2024-01-15,1,102242,UN,1,1.0,NaN
3,2024-01-20,1,102242,UN,3,1.0,NaN
4,2024-01-22,1,102242,UN,2,1.0,NaN
...,...,...,...,...,...,...,...
55265115,2023-01-27,82,457248,NaN,0,82.0,NaN
55265116,2023-01-19,3,98097,NaN,0,80.0,NaN
55265117,2023-01-01,1,447761,NaN,0,1.0,NaN
55265118,2023-01-13,81,168590,NaN,0,81.0,NaN
55265119,2023-01-27,93,423000,NaN,0,93.0,NaN

In [ ]:
f.estoque_diario.isna().sum()

39500523