In [1]:
from sqlalchemy import create_engine,text, types
import pandas as pd
from pandas import read_sql
from datetime import datetime,timedelta
from getpass import getpass
from dateutil.relativedelta import relativedelta
import gc

In [3]:
def get_sqlalchemy_dtypes(df):
    type_mapping = {
        "object": types.String,
        "int64": types.Integer,
        "float64": types.Float,
        "datetime64[ns]": types.DateTime,
        "datetime64[ns, UTC]": types.DateTime,
        "bool": types.Boolean
    }
    dtypes = {}
    for col, dtype in df.dtypes.items():
        sql_type = type_mapping.get(str(dtype), types.String)
        dtypes[col] = sql_type
    return dtypes

user = 'DAVYD_SANTOS' # insira aqui seu nome de usuário do banco de dados
password = getpass('#insira aqui sua senha do banco de dados:') 
engine_bifc = create_engine(f"oracle+oracledb://{user}:{password}@bifc")

In [ ]:
#Hierarquia de Produtos -- ok
#não
query_linha = f""" 
    SELECT L.CODIGO AS CODE1,
      L.DESCR AS NAME1,
      L2.CODIGO AS CODE2,
      L2.DESCR AS NAME2,
      L3.CODIGO AS CODE3,
      L3.DESCR AS NAME3

FROM LINHA L3
JOIN LINHA L2 ON SUBSTR(L3.CODIGO,1,2) = L2.CODIGO

JOIN LINHA L ON SUBSTR(L3.CODIGO,1,1) = L.CODIGO
WHERE LENGTH(L3.CODIGO)=3
AND L3.CODIGO NOT LIKE 'X%'

    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes.to_csv(f"product_groups_yyyy-mm-dd.csv", index=False, encoding = 'utf-8')
    del df_mes             
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()

In [ ]:
#Produtos & produtos locais
#sim
query_linha = f""" 
   WITH BASE AS (
            SELECT
            P.CODIGO,      
            B.COD_EMPRESA,   -- FALTA SEPARAR POR TIPO DE DEPOSITO(VERIFICAR AINDA COMO FAZER)
            P.FORNECEDOR,   
            P.DESCRICAO,     
            P.LINHA,
            P.DT_INCLUSAO,
            B.DESCONTO,
            B.CUE,
            B.PRVD1,
            B.SITUACAO,
            P.UNCOMPRA1,
            P.UNCOMPRA2,
            P.UNCOMPRA3

            FROM PRODB B
            JOIN PROD P ON P.CODIGO = B.CODIGO
            JOIN CODIGOS_POC_DAVYD  CPOC ON P.CODIGO = CPOC.CODIGO

), PRECO_COMPRA AS (

                 SELECT
                 B.CODIGO,
                 B.COD_EMPRESA,
                 IT.PRECO_COMPRA

                  FROM PRODB B
                        JOIN PROD P ON P.CODIGO = B.CODIGO
            JOIN (SELECT CODIGO FROM CODIGOS_POC_DAVYD@BIFC.COM
                    WHERE CATEGORIA = 'COMPOSICAO DE MIX'
                    )  CPOC ON P.CODIGO = CPOC.CODIGO
                 LEFT JOIN
                 (
                        SELECT
                        IT.COD_EMPRESA,
                        PRODUTO AS CODIGO,
                        P.LINHA,
                        P.COMPRADOR,
                        (PRECO_UNIT/IT.CONVERSAO) AS PRECO_COMPRA,

                        DATA_ENTRADA,
                        ROW_NUMBER() OVER (PARTITION BY PRODUTO, IT.COD_EMPRESA ORDER BY DATA_ENTRADA DESC) AS RN

                        FROM ENTR_IT IT
                        JOIN PROD P ON P.CODIGO = IT.PRODUTO


                        WHERE 1 = 1
                        AND IT.TIPO = 1
                         ) IT  ON IT.CODIGO = B.CODIGO AND IT.COD_EMPRESA = B.COD_EMPRESA


                        WHERE RN = 1





), EMB_MASTER AS (
              SELECT 
              CODIGO,
              M.UNIDADE_CMP3, -- UNIDADE DE ESTOQUE
              M.UNIDADE_CMP2 -- UNIDADE MINIMA DE COMPRA


              FROM PROD_EMB_MASTER M
                 
              WHERE OBRIGATORIO = 'S'
              AND M.ATIVO = 'S'
              AND M.EMB_DEFAULT = 'S'
                 

)

    SELECT 
    BA.CODIGO           AS PRODUCT,
    BA.COD_EMPRESA      AS LOCATION, 
    BA.FORNECEDOR       AS SUPPLIER,
    BA.DESCRICAO        AS PRODUCT_NAME,
    BA.LINHA            AS PRODUCT_GROUP,
    NVL(EM.UNIDADE_CMP3,BA.UNCOMPRA3)     AS INVENTORY_UNIT,
    pc.PRECO_COMPRA     AS PURCHASE_PRICE,

    CASE WHEN BA.SITUACAO = 'PM' 
         THEN BA.PRVD1
         ELSE BA.PRVD1* (1-BA.DESCONTO/100)
         END            AS SALES_PRICE,
         
    NVL(EM.UNIDADE_CMP2,BA.UNCOMPRA2)     AS ORDER_QUANTITY,
    NVL(EM.UNIDADE_CMP2,BA.UNCOMPRA2)     AS MINIMUM_DELIVERY_BATCH,
    BA.DT_INCLUSAO      AS PRODUCT_LOCATIONS_INTRODUCTION_DATE,
    NULL                 AS PRODUCT_LOCATIONS_TERMINATION_DATE,
    NULL                 AS SPOILING_TIME,
    NULL                 AS SHELF_SPACE,
    NULL                 AS PRESENTATION_STOCK,
    NULL                 AS REQUIRED_REMAINING_SHELF_LIFE,
    NULL                 AS REFERENCE_PRODUCT,
    NULL                 AS REFERENCE_LOCATION,
    BA.CUE              AS COST_OF_ORDERING,
    NULL                 AS CARRYING_COST


    FROM BASE BA
    JOIN PRECO_COMPRA PC ON BA.CODIGO = PC.CODIGO AND BA.COD_EMPRESA = PC.COD_EMPRESA
    LEFT JOIN EMB_MASTER EM ON EM.CODIGO = BA.CODIGO
    
    WHERE 1 = 1


    
     

    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes.to_csv(f"product_locations_yyyy-mm-dd.csv", index=False, encoding = 'utf-8')
    del df_mes             
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()

In [ ]:
#Locais
#não
query_linha = f""" 
SELECT
CD_EMPRESA        AS LOCATION,
NM_NOME_REDUZIDO  AS NAME,
'1'               AS CHAIN,              
'NORDESTE'        AS REGION,
CD_CIDADE         AS CITY,
CD_ESTADO         AS STATE_NAME,
CASE WHEN TIPO_CENTRO_FISCAL = 'CDNE'
  THEN 'DC'
  ELSE 'Store'
  END             AS LOCATION_TYPE

 FROM SFC_EMPRESA
WHERE 1 = 1
AND CD_EMPRESA NOT IN (99,9107,9007,11)

UNION ALL

SELECT
999          AS LOCATION,
'ECOMMERCI'  AS NAME,
'2'          AS CHAIN,              
'ECOMMERCI'  AS REGION,
' '          AS CITY,
' '          AS STATE_NAME,
'Store'      AS LOCATION_TYPE

FROM DUAL

    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes.to_csv(f"locations_yyyy-mm-dd.csv", index=False, encoding = 'utf-8')
    del df_mes              
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()

In [ ]:
#DAN
#Fornecedores_pedido_agdto

query_linha = f""" 
WITH BASE AS (
            SELECT
            P.CODIGO,      
            B.COD_EMPRESA,
            CASE WHEN MIX.PADRAO_COMPRA <> MIX.COD_EMPRESA 
                 THEN TO_CHAR(MIX.PADRAO_COMPRA) 
                 ELSE P.FORNECEDOR
                 END AS FORNECEDOR, 
            P.DESCRICAO,  
            CASE WHEN MIX.PADRAO_COMPRA <> MIX.COD_EMPRESA 
                 THEN NCD.FILIAL 
                 ELSE P.FANTAS
                 END AS FANTAS,             
            P.LINHA,
            P.DT_INCLUSAO,
            P.ATIVO,
            B.DESCONTO,
            B.CUE,
            B.PRVD1,
            B.SITUACAO,
            P.UNCOMPRA1,
            P.UNCOMPRA2,
            P.UNCOMPRA3

            FROM PRODB B
            JOIN PROD P ON P.CODIGO = B.CODIGO
            JOIN  CODIGO_POC_FINAL_DAVYD CPOC ON P.CODIGO = CPOC.CODIGO
            LEFT JOIN ( SELECT
                         *
                         FROM 
                           ( SELECT 
                            COD_EMPRESA,
                            MIX.CODIGO,
                            NVL(PADRAO_COMPRA_COD_EMPRESA,COD_EMPRESA) AS PADRAO_COMPRA,
                            ROW_NUMBER() OVER(PARTITION BY COD_EMPRESA, CODIGO ORDER BY DT_ALTERACAO DESC) AS RN
                            
                            
                             FROM PROD_MIX MIX
                             

                             WHERE 1 = 1 
                             AND COD_EMPRESA NOT IN (80,81,82,92,93,94)
                             AND MIX.ID_LOJA = 0
                             )

                           WHERE 1 = 1
                           AND RN = 1
                           
                         ) MIX ON B.CODIGO = MIX.CODIGO AND B.COD_EMPRESA = MIX.COD_EMPRESA
                         
              LEFT JOIN (SELECT
                        CD_EMPRESA AS COD_EMPRESA,
                        NM_NOME_REDUZIDO AS FILIAL

                         FROM SFC_EMPRESA
                        WHERE 1 = 1
                        AND CD_EMPRESA <> 99
                        ) NCD ON MIX.COD_EMPRESA = NCD.COD_EMPRESA 
                           
                        WHERE 1 = 1
                        AND B.COD_EMPRESA NOT IN (80,81,82,92,93,94,83)

                         
UNION ALL

         SELECT
            MIX.CODIGO,      
            MIX.COD_EMPRESA,   
            p.FORNECEDOR, 
            P.DESCRICAO,  
            P.FANTAS,   
            P.LINHA,
            P.DT_INCLUSAO,
            P.ATIVO,
            B.DESCONTO,
            B.CUE,
            B.PRVD1,
            B.SITUACAO,
            P.UNCOMPRA1,
            P.UNCOMPRA2,
            P.UNCOMPRA3
            
            FROM
         (SELECT DISTINCT
         PADRAO_COMPRA AS COD_EMPRESA,
         CODIGO
              
                         FROM 
                          (
                          SELECT 
                            COD_EMPRESA,
                            MIX.CODIGO,
                            NVL(PADRAO_COMPRA_COD_EMPRESA,COD_EMPRESA) AS PADRAO_COMPRA,
                            ROW_NUMBER() OVER(PARTITION BY COD_EMPRESA, CODIGO ORDER BY DT_ALTERACAO DESC) AS RN
                            
                            
                              FROM PROD_MIX MIX
                              

                              WHERE 1 = 1
                              AND NVL(PADRAO_COMPRA_COD_EMPRESA,COD_EMPRESA) <> COD_EMPRESA
                              AND MIX.ID_LOJA = 0
                              )

                            WHERE 1 = 1
                            AND RN = 1
             ) MIX
             
             LEFT JOIN PRODB B ON B.CODIGO = MIX.CODIGO AND B.COD_EMPRESA = MIX.COD_EMPRESA
             JOIN PROD P ON P.CODIGO = B.CODIGO          
             JOIN  CODIGO_POC_FINAL_DAVYD CPOC ON P.CODIGO = CPOC.CODIGO


 ------------------------------------------------------------------------------------           

), EMB_MASTER AS (
              SELECT 
              CODIGO,
              M.UNIDADE_CMP3, -- UNIDADE DE ESTOQUE
              M.UNIDADE_CMP2 -- UNIDADE MINIMA DE COMPRA


              FROM PROD_EMB_MASTER M
                 
              WHERE OBRIGATORIO = 'S'
              AND M.ATIVO = 'S'
              AND M.EMB_DEFAULT = 'S'

)

    SELECT 
    BA.FORNECEDOR              AS SUPPLIER,
    BA.FANTAS                  AS NAME,
    BA.CODIGO                  AS PRODUCT,
   CASE WHEN 
         BA.FORNECEDOR IN (1,2,3,4,5,6,7,8,9,80,81,82,92,93,94)
         THEN LTA.LEAD_TIME
         ELSE NVL(LT.LEAD_TIME, LT1.LEAD_TIME)             
         END AS LEAD_TIME,
    '(MO, TU, WE, TH, FR, SA)' AS ORDERING_DAYS,
    '(MO, TU, WE, TH, FR, SA)' AS DELIVERING_DAYS,
    'EVERY_WEEK'               AS ORDER_CYCLE,
    FORN.FAT_MINIMO            AS MINIMUM_ORDER_VALUE,
    NVL(EM.UNIDADE_CMP2, 1)     AS MINIMUM_ORDER_QUANTITY,
    ' '                        AS MAXIMUM_ORDER_QUANTITY,                    
    BA.COD_EMPRESA             AS LOCATION


    FROM BASE BA

   LEFT JOIN EMB_MASTER EM ON EM.CODIGO = BA.CODIGO
    LEFT JOIN LEAD_TIME_DAVYD LT ON SUBSTR(LT.CODIGO,1, LENGTH(LT.CODIGO)-2) = BA.CODIGO AND LT.COD_EMPRESA_ENTREGA = BA.COD_EMPRESA  AND NVL(LT.CODIGO, ' ') <> ' '-- clonar tabela
    LEFT JOIN LEAD_TIME_DAVYD LT1 ON LT1.FORNECEDOR = BA.FORNECEDOR AND NVL(LT1.CODIGO, ' ') = ' ' 
    LEFT JOIN FORN ON FORN.CGC = BA.FORNECEDOR
    LEFT JOIN DAVYD_SANTOS.LEAD_TIME_ABASTECIMENTO LTA ON LTA.SUPPLIER = BA.FORNECEDOR AND LTA.LOCATION = BA.COD_EMPRESA -- adicionar dados da logistica
    
    WHERE 1 = 1

    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes.to_csv(f"suppliers_orders_deliveries_yyyy-mm-dd.csv", index=False, encoding = 'utf-8')
    del df_mes           
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()

In [10]:
#Produtos_locais_campanhas

query_linha = f""" 

SELECT CAST(CP.COD_CAMPANHA_FILIAL AS VARCHAR(20)) AS CAMPAIGN,
       P.CODIGO AS PRODUCT,
       CAST(CP.COD_EMPRESA AS VARCHAR(4))AS LOCATION,
       ROUND(CP.PRVD1_CAMPANHA * ( 1 -CP.DESCONTO/100), 2) AS CAMPAIGN_PRICE
FROM SFC_CAMP_PROD CP
JOIN PROD P ON P.CODIGO = CP.COD_PRODUTO

WHERE EXISTS ( 
      SELECT 1
        FROM SFC_CAMP_FILIAL F
        LEFT JOIN SFC_CAMP_MASTER M ON F.COD_CAMPANHA_MASTER = M.COD_CAMPANHA_MASTER
        LEFT JOIN SFC_CAMP_TIPO T ON M.COD_TIPO_CAMPANHA = T.COD_TIPO_CAMPANHA
        WHERE F.DT_LOJA_INICIO > ADD_MONTHS(SYSDATE, -36)
          AND F.DT_LOJA_FINAL <= SYSDATE
          AND F.COD_EMPRESA = CP.COD_EMPRESA
          AND F.COD_CAMPANHA_FILIAL = CP.COD_CAMPANHA_FILIAL
)
AND CP.PRVD1_CAMPANHA > 0

    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes.to_csv(f"product_location_campaigns_yyyy-mm-dd.csv", index=False, encoding = 'utf-8')
    del df_mes             
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()

In [8]:
#Campanhas

query_linha = f""" 
SELECT DISTINCT 
       F.COD_EMPRESA,
       F.COD_CAMPANHA_FILIAL AS campaign,
       F.NM_CAMPANHA_FILIAL AS name,
       F.DT_LOJA_INICIO AS start_date,
       F.DT_LOJA_FINAL AS end_date,
       M.NM_CAMPANHA AS type,
       T.NM_TIPO_CAMPANHA AS subtype


FROM SFC_CAMP_FILIAL F
LEFT JOIN SFC_CAMP_MASTER M ON F.COD_CAMPANHA_MASTER = M.COD_CAMPANHA_MASTER
LEFT JOIN SFC_CAMP_TIPO T ON M.COD_TIPO_CAMPANHA = T.COD_TIPO_CAMPANHA
WHERE F.DT_LOJA_INICIO > ADD_MONTHS(SYSDATE, -36)
  AND F.DT_LOJA_FINAL <= SYSDATE

ORDER BY START_DATE ASC

    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes.to_csv(f"campaigns_yyyy-mm-dd.csv", index=False, encoding = 'utf-8')
    del df_mes        
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()

In [9]:
#Hierarquia de Produtos
'''
query_linha = f""" 


    """

try:
    df_mes = pd.read_sql(text(query_linha), engine_bifc)
    df_mes1 = df_mes.head(1)
    df_mes1.to_csv(f"Transacoes_hierarquia_de_produtos.csv", index=False, encoding = 'utf-8')
    del df_mes
    del df_mes1             
except Exception as e:
    print(f"❌ Erro ao acessar {query_linha}: {e}")


    
engine_bifc.dispose()
'''

'\nquery_linha = f""" \n\n\n    """\n\ntry:\n    df_mes = pd.read_sql(text(query_linha), engine_bifc)\n    df_mes1 = df_mes.head(1)\n    df_mes1.to_csv(f"Transacoes_hierarquia_de_produtos.csv", index=False, encoding = \'utf-8\')\n    del df_mes\n    del df_mes1             \nexcept Exception as e:\n    print(f"❌ Erro ao acessar {query_linha}: {e}")\n\n\n    \nengine_bifc.dispose()\n'